@model IEnumerable<MKCFinancialPortal.Models.Invite>

<div class="page-header">
    <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>Invites</span></h1>
</div>
<div class="panel">
    <div class="panel-heading">
        <a href="@Url.Action("Create", "Invites")" class="panel-title"><i class="fa fa-calendar-plus-o"></i> Send Invitation</a>
    </div>
    <div class="panel-body">
        <div class="table-primary">
            <table class="table table-striped table-bordered" id="invitesTable">
                <thead>
                    <tr>
                        <th>Invitee</th>
                        <th>Household</th>
                        <th>Invite Sent</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var invite in Model)
                    {
                        <tr class="odd gradeX">
                            <td>@invite.User.FirstName @invite.User.LastName</td>
                            <td>@invite.Household.Name</td>
                            <td>@invite.InviteDate.ToString("MM/dd/yyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('#invitesTable').DataTable();
    </script>
}
